 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';
@import "../../bower_components/refills/source/stylesheets/all";


$brown: #3d2312;
$lightBrown: #72604d;
$yellow: #d3b74e;
$orange: #eb7340;
$green: #a8a44e;
$beige: #d5bc9a;

$mainFont: "Droid Serif", serif;
$bodyFont: "Source Sans Pro", helvetica;


.header {
  width: 100%;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: $orange;
  padding: 60px;
  height: 300px;
}

// #search {
//   float: right;
//   width: 200px;
// }

.logo{
  margin: auto;
  text-align: center;
  h1 {
    font-size: 60px;
    font-family: $mainFont;
    color: $brown;
  }
}

.buttons {
  float: left;
  display: inline;
}

.container {
  @include outer-container;
  max-width: 1000px;
  margin: auto;
  // background-color: #eee;
  margin-top: 20px;
  padding: 20px;

  .new-events{
    @include span-columns(12);

    h2{
      font-family: $mainFont;
      font-size: 35px;
      color: $brown;
    }
    h3{
      font-family: $mainFont;
      font-size: 14px;
      color: $orange;
    }
    p {
      font: $bodyFont;
      font-size: 14px;
      color: $lightBrown;
    }
  }

  .images {
    img {
    @include span-columns(4);
    @include omega(3n);
    height: 200px;
    }
  }
}


.footer {
  height: 150px;
  background-color: $lightBrown;
  text-align: center;
}
